<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PushON_LiveSearchReadOnly">
        <sequence>
            <module name="Magento_ServicesConnector"/>
            <module name="Magento_ServicesId"/>
            <module name="Magento_LiveSearch"/>
        </sequence>
    </module>
</config>
